body {
    font-family: Arial, sans-serif;
    line-height: 1.px;
    margin: 0px;
    padding: 0px;
    background-color: #e8f5e9;
}

header {
    background: #009688;
    color: #f4f4f4;
    padding: 20px 0px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0px;
}

nav ul li {
    display: inline;
    margin: 0px 15px;
}

nav a {
    color: #f4f4f4;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

h2 {
    color: #009688;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0px 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #009688;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #00796b; /* Couleur du bouton au survol */
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #f4f4f4;
}
